body{
    margin: 10px 0;
    padding: 0;
    text-align: center; /* tac + tab*/
    font-family: 'PT sans', sans-serif;
    background-color: #dea; /*dea RACCOURCIE de DDEEAA*/
}

div#conteneur{
    width: 770px;
    margin: 0 auto;
    text-align: left;
    border: 2px solid #ab4;
    background: #fff;
}

h1#header{
    height: 250px;
    background: url('../../img/apple.jpg') no-repeat left top;/*  image de fond qui ne se répète pas, positionné  à gauche en haut */
    margin: 0;
}

div#contenu{
    padding: 0 10px 0 100px;/*haut, droite, bas gauche*/
    background-image: url('../../img/bg_page.gif');
    background-repeat: no-repeat;
    background-position: 15px 15px;
}

div#contenu h2{
    padding-left: 25px;
    line-height: 25px;
    font-size: 1.4em;
    background: url('../../img/little_apple.gif') no-repeat left bottom;
    color: #9b2;
    border-bottom: 1px solid #9b2;

}div#contenu h3{
    margin-left: 15px;
    padding-left: 5px;
    border-bottom: 1px solid #9b2;
    border-left: 1px solid #9b2;
    color: #99bb22;
}

div#contenu p{/*paragraphes plus aérés*/
    text-align: justify;
    text-indent: 2em;
    line-height: 1.2em;
    
}

div#contenu a{/*mise en forme des liens*/
    color: #88aa00;
}

div#contenu a:hover{
    color: #99bb22;
}